{
  "env": {
    "es5": {
      "plugins": [
        ["transform-builtin-extend", {"globals": ["Array"]}],
        "version-inline"
      ],
      "presets": [
        ["es2015", {modules: 'commonjs'}]
      ]
    },
    "esm": {
      "plugins": [
        ["transform-builtin-extend", {"globals": ["Array"]}],
        "version-inline"
      ],
      "presets": [
        ["es2015", {modules: false}],
        [ "minify", {
          "mangle": false
        }]
      ]
    },
    "es6": {
      "plugins": [
        ["transform-builtin-extend", {"globals": ["Array"]}],
        "version-inline"
      ],
      "presets": [
        [ "env", {
          "targets": {
            "chrome": "60",
            "edge": "15",
            "firefox": "53",
            "ios": "10.3",
            "safari": "10.1",
            "node": "8"
          },
          "modules": false,
          "debug": true
        }],
        [ "minify", {
          "mangle": false
        }]
      ]
    },
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
