dist/*
dist-esm/*
dist-es6/*
**/dist/*

node_modules/
coverage/
.nyc_output/

.docusaurus

npm-debug.log
*/**/yarn.lock
yarn-error.log
report*.json

tsconfig.tsbuildinfo

# editor files
.project
.DS_Store
.idea
*.zip
*.rar

.reify-cache
