{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": "2",
        "loose": true,
        "modules": "commonjs",
        "useBuiltIns": "usage",
        "targets": {
          "chrome": "74"
        },
        "debug": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true,
        "pragma": "React.createElement",
        "development": true
      }
    ]
  ],
  "plugins": [
    ["transform-builtin-extend", {"globals": ["Array"]}],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true,
      }
    ],
    "babel-plugin-macros",
    "@babel/plugin-syntax-dynamic-import",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": true,
        "regenerator": true,
      }
    ]
  ]
}
